/*

tag {} - for tag styling
.class {} - classes styling
#id {} - id styling

*/

/* dark theme
:root {
    --bg-color: rgba(39,40,34, 255);
    --text-color: rgba(248, 248, 240, 255);
    --body-padding: 0.5%;
}
*/

:root {
    --bg-color: rgba(255, 255, 255, 255);
    --border-color: rgba(237, 237, 237, 255);
    --text-color: rgba(39, 39, 39, 255);

    --link-active-color: rgb(100, 149, 237);
    --link-visited-color: rgba(100, 149, 237, 0.822);
    --link-transition-time: 0.3s;

    --table-bg-color: rgba(221, 221, 221, 0.4);
    --tr-bg-hover-color: rgba(221, 221, 221, 1);
    --tr-text-hover-color: rgba(255, 255, 255, 0.794);
    --tr-even-bg-color: #f2f2f2c9;

    --home-link-hover-color: rgb(156, 156, 156);

    --nav-bg-color: rgba(51, 51, 51, 0.9);
    --nav-link-color: #f2f2f2;
    --nav-link-active-color: white;
    --nav-link-hover-color: black;

    --build-info-link-color: rgb(70, 90, 202);

    --hr-bg-color: #ddd;

    --body-padding: 0.5%;
}

body {
    background-color: var(--bg-color);
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    color: var(--text-color);
}

footer #para_time {
    text-transform: uppercase;
    font-size: 80%;
    text-emphasis: none;
    color: --var(--nav-bg-color);
    /* padding-left: 5%; */
}

hr {
    background-color: var(--hr-bg-color);
    height: 1px;
    border: 0px;
    width: 100%;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* top navigation */
header {
    width: 100%;
    padding: 0px;
    overflow: hidden;
    background-color: var(--nav-bg-color);
}

#top_nav {
    /*background-color: var(--nav-bg-color);*/
    overflow: hidden;
}

#top_nav h1 {
    float: left;
    font-size: 18px;
    padding-left: 10px;
    color: var(--nav-link-color);
    text-transform: lowercase;
}

#top_nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 17px;
}

#top_nav a[id ^= "nav_"] {
    float: right;
    padding: 14px 16px;
}

#top_nav a[id ^="nav_"]:hover {
    background-color: var(--hr-bg-color);
    color: var(--nav-link-hover-color);
}

#top_nav a[id ^="nav_"].active {
    background-color: var(--link-active-color);
    color: var(--nav-link-active-color);
}

/*.release_url:visited,.release_url:unvisited {*/

a:visited {
    color: var(--link-visited-color);
}

a:link {
    color: var(--link-active-color);
}

a[class = 'release_url'] {
    color: var(--text-color);
    /*text-transform: uppercase;*/
}

a[class = 'release_url']:hover {
    color: var(--link-active-color);
}

/* release table styling */

div#build_div h2 a {
    text-decoration: none;
}

table#table_header {
    width: 100%;
    table-layout: auto;
}

table.build_folder tr.header_tr {
    background-color: var(--tr-bg-hover-color);
}

table.build_folder {
    width: 100%;
    border-collapse: collapse;
}

table.build_folder, tr.header_tr th, tr.build_tr td {
    border: 1px solid var(--hr-bg-color);
    text-align: center;
    /*background-color: var(--table-bg-color);*/
}

td.build_dl_link a {
    font-size: 80%;
    text-transform: uppercase;
    color: var(--build-info-link-color);
    font-weight: bold;
}

tr.build_tr:nth-child(even) {
    background-color: var(--tr-even-bg-color);
}

tr.build_tr:hover, tr.build_tr a:hover {
    background-color: var(--tr-bg-hover-color);
    color: var(--tr-text-hover-color);
    transition: var(--link-transition-time);
}

/* home, release info */
div#home, div#release, div#release_info, div#home_links, div#release_links {
    text-align: left;
    padding-left: 1%;
}

div#release_info p span {
    /*font-style: oblique;*/
    font-weight: bold;
    font-family: monospace;
    font-size: 110%;
}

div#home_links a, div#release_links a {
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 110%;
    transition: var(--link-transition-time);
}

div#home_links a:hover, div#release_links a:hover {
    background-color: var(--home-link-hover-color);
    color: var(--tr-text-hover-color);
    transition: var(--link-transition-time);
}
